<ion-navbar *navbar>
    <ion-title>Geyser Controller</ion-title>
</ion-navbar>
<ion-content padding class="home">
    <h2>Relay Controller!</h2>
    <!--     <p>
        Take a look at the <code>app/</code> directory to add or change tabs, update any existing page or create new pages.
    </p>
 -->
    <!-- <button (click)="login()">Facebook Login</button> -->
    <ion-card>
        <ion-card-header text-center>
            <h2>
            Relays
            </h2>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item ion-item *ngFor="let relay of relays">
                    <ion-label>{{relay.name}}</ion-label>
                    <ion-toggle [(ngModel)]="relay.state"></ion-toggle>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header text-center>
            <h2>
            Temperatures
            </h2>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item ion-item *ngFor="let temperature of temperatures">
                    <ion-label>{{temperature.name}}</ion-label>
                    <ion-input [(ngModel)]="temperature.temperature"></ion-input>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
